<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}"
    th:with="titulo1='Atualizar Período Letivo', titulo2='Atualizar Período Letivo'">

<body>
    <div layout:fragment="content">
        <form th:action="@{/periodos/update}" method="POST" th:object="${periodo}">
            <div th:replace="~{/fragments/body :: formPeri}"></div>
            <label for="nome" class="form-label">Período Atual?</label>
                <input type="checkbox" th:field="*{periodoAtual}" class="form-check-input"/></br>
            <label for="instituicoes" class="form-label">Instituição:</label>
                <select id="instituicoes" name="instituicoes" class="form-select">
                    <option value=""></option>
                    <option th:each="inst : ${instituicoesItems}"
                        th:value="${inst.id}" 
                        th:text="${inst.sigla}" 
                        th:selected="${inst.sigla == periodo.getInstituicoes().get(0).getSigla()}">
                    </option> 
                </select></br>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
    </div>
</body>
</html>