<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}"
    th:with="titulo1='Lista Período Letivo', titulo2='Período(s) Letivo(s) Cadastrado(s)'">

<body>
    <div layout:fragment="content">
        <form sec:authorize="hasAnyRole('USER', 'ADMIN')" th:action="@{/periodos/formPeri}" method="GET">
            <button class="btn btn-outline-secondary" type="submit" title="Novo">
                <img th:src="@{/imagens/novo1.png}" alt="Novo"/>
            </button>
        </form>

        <div th:if="${not #lists.isEmpty(periodos)}">
            <div th:text="'Total: ' + ${#lists.size(periodos)} + ' registro(s)'" 
                style="text-align: right; color: gray; font-size: 0.85em;">
            </div>

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Ano:</th>
                        <th style="text-align: center;">Período Letivo:</th>
                        <th style="text-align: center;">Data Início:</th>
                        <th style="text-align: center;">Data Fim:</th>
                        <th style="text-align: center;">Instituição:</th>
                        <th style="text-align: center;">Período Atual:</th>
                        <!-- <th style="text-align: center;">Editar:</th> -->
                        <!-- <th style="text-align: center;">Excluir:</th> -->
                    </tr>
                </thead>
    
                <tbody>
                    <tr th:each="periodo : ${periodos}">
                        <td th:text="${periodo.ano}"></td>
                        <td th:text="${periodo.periodoLetivo}" style="text-align: center;"></td>
                        <td th:text="${#dates.format(periodo.dataInicio, 'dd ''de'' MMMM ''de'' yyyy')}" 
                            style="text-align: center;"></td>
                        <td th:text="${#dates.format(periodo.dataFim, 'dd ''de'' MMMM ''de'' yyyy')}" 
                            style="text-align: center;"></td>
                        <td th:each="instituicao: ${periodo.instituicoes}" 
                            th:text="${instituicao.sigla}"
                            style="text-align: center;">
                        </td>
                        <td style="text-align: center;">
                            <form th:action="@{/periodos/{id}(id=${periodo.id})}" method="GET">
                                <img th:if="${periodo.periodoAtual}" th:src="@{/imagens/ok.png}" />
                                <img th:unless="${periodo.periodoAtual}" th:src="@{/imagens/nok.png}" />
                                <!-- <button class="btn btn-outline-secondary btn-sm" type="submit" title="Editar">
                                    <img th:if="${periodo.periodoAtual}" th:src="@{/imagens/ok.png}" />
                                    <img th:unless="${periodo.periodoAtual}" th:src="@{/imagens/nok.png}" />
                                </button> -->
                            </form>
                        </td>
                        <td style="text-align: center;">
                            <form sec:authorize="hasAnyRole('USER', 'ADMIN')" th:action="@{/periodos/{id}(id=${periodo.id})}" method="GET">
                                <button class="btn btn-outline-secondary btn-sm" type="submit" title="Editar">
                                    <img th:src="@{/imagens/editar.png}" alt="Editar"/>
                                </button>
                            </form>
                        </td>
                        <td style="text-align: center;">
                            <form sec:authorize="hasRole('ADMIN')" th:action="@{/periodos/{id}/delete(id=${periodo.id})}">
                                <button class="btn btn-outline-secondary btn-sm" type="submit" title="Excluir">
                                    <img th:src="@{/imagens/lixeira1.jpg}" alt="Excluir"/>
                                </button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- Paginador -->
            <div th:replace="~{/fragments/paging :: paginator('periodos', ${navPage})}"></div>
        </div>
    </div>
    </div> 
</body>
</html>