<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}"
    th:with="titulo1='Declaração Vencida', titulo2='Lista Declaração(s) Vencida(s)'">
<body>
    <div layout:fragment="content">
        <table>
            <tr>
                <th>
                    <form th:action="@{/relatorios}" method="GET">
                        <button class="btn btn-outline-secondary btn-sm" type="submit" title="Voltar">
                            <img th:src="@{/imagens/voltar.png}" alt="Voltar"/>
                        </button>
                    </form>
                </th>
            </tr>
        </table>
    </div>
</body>
</html>