<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}"
    th:with="titulo1='Declaração por Vencer', titulo2='Lista Declaração(s) por Vencer(s)'">
<body>
    <div layout:fragment="content">
        <table>
            <tr>
                <th>
                    <a th:href="@{/relatorios}" method="GET">
                        <button class="btn btn-outline-secondary btn-sm" type="submit" title="Voltar">
                            <img th:src="@{/imagens/voltar.png}" alt="Voltar"/>
                        </button>
                    </a>
                </th>
            </tr>
        </table>
    </div>
</body>
</html>