<!DOCTYPE html>

<!-- Relatórios Declarações Vencidas -->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}"
    th:with="titulo1='Página Relatorios', titulo2='Relatorios'">
<body>
    <div layout:fragment="content"  class="centered">
        <div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <td><h4>Declaração(s) Cadastrada(s)</h4></td>
                        <td>
                            <form th:action="@{/relatorios/listDecEstu}" method="GET">
                                <button class="btn btn-outline-secondary" type="submit" title="Consultar">
                                    <img th:src="@{/imagens/consulta.png}" alt="Consultar"/>
                                </button>
                            </form>
                        </td>
                    </tr>

                    <tr>
                        <td><h4>Declaração(s) por Vencer</h4></td>
                        <td>
                            <form th:action="@{/relatorios/listDecVence}" method="GET">
                                <td>
                                    <input type="text" class="form-control" th:id="dias" required th:name="dias"/>
                                </td>
                                <td>
                                    <button class="btn btn-outline-secondary" type="submit" title="Consultar">
                                        <img th:src="@{/imagens/consulta.png}" alt="Consultar"/>
                                    </button>
                                </td>
                            </form>
                        </td>
                    </tr>

                    <tr>
                        <td><h4>Declaração(s) Vencida(s)</h4></td>
                        <td>
                            <form th:action="@{/relatorios/listDecVenci}" method="GET">
                                <button class="btn btn-outline-secondary" type="submit" title="Consultar">
                                    <img th:src="@{/imagens/consulta.png}" alt="Consultar"/>
                                </button>
                            </form>
                        </td>
                    </tr>
                    
                    <tr>
                        <td><h4>Estudante(s) Maior(s) 24 Anos</h4></td>
                        <td>
                            <form th:action="@{/relatorios/listEstuMaior}" method="GET">
                                <button class="btn btn-outline-secondary" type="submit" title="Consultar">
                                    <img th:src="@{/imagens/consulta.png}" alt="Consultar"/>
                                </button>
                            </form>
                        </td>
                    </tr>

                    <tr>
                        <td><h4>Estudante(s) sem Declaração(s)</h4></td>
                        <td>
                            <form th:action="@{/relatorios/listEstSDec}" method="GET">
                                <button class="btn btn-outline-secondary" type="submit" title="Consultar">
                                    <img th:src="@{/imagens/consulta.png}" alt="Consultar"/>
                                </button>
                            </form>
                        </td>
                    </tr>
                    
                </thead>
            </table>  
        </div>
    </div> 
</body>
</html>