<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}"
    th:with="titulo1='Declaração', titulo2='Declaração Estudante'">
    
<body>
    <div layout:fragment="content">
        <form th:action="@{/declaracoes/getDecEstudante}" th:object="${declaracao}">
            <label for="estudante">Consultar por Matrícula:</label>
                <input type="text" class="form-control" required th:field="*{estudante.matricula}" /></br>
            <button type="submit" class="btn btn-primary">Consultar</button>
        </form></br>

        <!-- <form th:action="@{/declaracoes}" method="GET" th:object="${declaracao}">
            <label for="nome">Conssultar todas Declarações Cadastradas:</label></br></br>
            <button type="submit" class="btn btn-primary">Consultar</button>
        </form> -->
    </div>
</body>
</html>