<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}"
    th:with="titulo1='Cadastrar Declaração', titulo2='Cadastro de Declaração'">

<body>
    <div layout:fragment="content">
        
        <div th:if="${formPreenchido == 'false'}">
            <form th:action="@{/declaracoes/periodoInstituicao}">
                <label for="estudante">Matrícula:</label></br>
                    <input type="text" class="form-control" required th:name="matricula"/></br>
                <button class="btn btn-primary" type="submit">Consulta Períodos</button>
            </form></br>
        </div>

        <div  th:unless="${formPreenchido == 'false'}">
            <form th:action="@{/declaracoes}" method="POST" th:object="${declaracao}">
                <!-- <input type="hidden" required th:field="*{id}"/> -->
                <label for="estudante">Matrícula:</label></br>
                    <input type="text" class="form-control" th:name="matricula"  th:value="${estudante.matricula}" readonly/></br>
                <!-- <p type="text" class="form-control" th:value="${estudante.nome}" readonly></p></br> -->
                <!-- <input type="hidden" class="form-control" th:name="matricula"  th:field="*{estudante.matricula}"  readonly/></br> -->

                <div th:replace="~{/fragments/body :: formDecl}"></div>
                    
                <label for="periodos" class="form-label">Período Letivo:</label>
                    <select th:field="*{periodo}" class="form-select">
                        <option value=""></option>
                        <option th:each="peri : ${periodosInstituicao}" 
                            th:value="${peri.id}" 
                            th:text="${peri.periodoLetivo}" >
                        </option>
                    </select></br>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
        </div>
    </div>
</body>
</html>