<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}"
    th:with="titulo1='Atualizar Declaração', titulo2='Atualização de Declaração'">

<body>
    <div layout:fragment="content">

        <form th:action="@{/declaracoes/update}" method="POST" th:object="${declaracao}">
            <label for="estudante">Matrícula:</label></br>
                <input type="text" class="form-control" required th:field="*{estudante.matricula}" /></br>
                <!-- <input type="text" class="form-control" name="matricula"  th:value="${estudante.matricula}" readonly/></br> -->
             <div th:replace="~{/fragments/body :: formDecl}"></div></br>
             <div>
                <label for="periodos" class="form-label">Período Letivo:</label>
                <!-- <option th:each="peri : ${periodosItems}" -->
                <select th:field="*{periodo}" class="form-select">
                    <option value=""></option>
                    <option th:each="peri : ${periodosItems}" 
                        th:value="${peri.id}" 
                        th:text="${peri.periodoLetivo}">
                    </option>
                </select>
                <!-- <select th:field="*{periodo}" class="form-select">
                    <option value=""></option>
                    <option th:each="peri : ${periodosInstituicao}" 
                        th:value="${peri.id}" 
                        th:text="${peri.periodoLetivo}"
                        th:selected="${peri.periodoLetivo == periodo}">
                    </option>
                </select> -->
             </div></br> 
            
            <div>
                <label for="nome" class="form-label">Declaração Atual?</label>
                    <input type="checkbox" th:field="*{declaracaoAtual}" class="form-check-input"/>
            </div>
            <div ></br>
                <button class="btn btn-outline-secondary btn-sm" type="submit" title="Salvar">
                    <img th:src="@{/imagens/salvar5.jpg}" alt="Salvar"/>
                </button>

                <a th:href="@{/declaracoes}">
                    <button class="btn btn-outline-secondary btn-sm" type="button" title="Voltar">
                        <img th:src="@{/imagens/voltar.png}" alt="Voltar"/>
                    </button>
                </a>
            </div>
            
        </form>
    </div>
</body>
</html>