<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="www.thymeleaf.org" th:import="org.thymeleaf.spring5.util.SpringSelectedValueComparator">
<head>
    <meta th:insert="~{/fragments/head(titulo='Atualização de Declaração')}">
</head>
<body>
    <div th:replace="~{/fragments/body :: logo(titulo=' AcademiConect')}"></div>

    <nav class="navbar navbar-expand navbar-light bg-light d-flex justify-content-between mb-3">
        <div th:replace="~{/fragments/body :: menu}"></div>

        <div style="margin-right: 5px;">
            <a class="nav-item nav-link" th:href="@{/declaracoes}">
                <button class="btn btn-outline-secondary my-2 my-sm-0">Sair</button>
            </a>
        </div>
    </nav>

    <div class="container">
        <div th:replace="~{/fragments/body :: mensagens}"></div>

        <div class="card">
            <div th:replace="~{/fragments/body :: titulo(titulo='Atualização de Declaração')}"></div>

            <div class="card-body">
                <form th:action="@{/declaracoes/update}" method="POST" th:object="${declaracao}">
                    <div th:replace="~{/fragments/body :: formDecl}"></div>
                    <label for="periodos" class="form-label">Período Letivo:</label>
                        <select id="periodos" name="periodos" class="form-select">
                            <option value=""></option>
                            <option th:each="peri : ${periodosItems}"
                                th:value="${peri.id}" 
                                th:text="${peri.periodoLetivo}" 
                                th:selected="${peri.id == periodo}">
                            </option> 
                        </select></br>
                        <!-- th:selected="${peri.periodoLetivo == declaracao.getperiodos().get(0).getperiodoLetivo()}" -->
                    <label for="nome" class="form-label">Declaração Atual?</label>
                        <input type="checkbox" th:field="*{declaracaoAtual}" class="form-check-input"/></br></br>
                    <button type="submit" class="btn btn-primary">Atualizar</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>