<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}"
    th:with="titulo1='Cadastrar Declaração', titulo2='Cadastro de Declaração'">

<body>
    <div layout:fragment="content">
        
        <div th:if="${mostrarForm == 'false'}">
            <label for="estudante">Matrícula:</label>
            <form th:action="@{/declaracoes/periodoInstituicao}" class="d-flex">
                <!-- <label for="estudante">Matrícula:</label> -->
                <input type="text" class="form-control" required th:name="matricula"/></br>
                <!-- <select name="estudante" class="form-select">
                    <option th:each="estud : ${estudanteItems}" 
                        th:value="${estud.id}"
                        th:text="${estud.matricula}"
                        th:selected="${estud.id == estudante}">
                </select> -->
                <button class="btn btn-outline-secondary btn-sm" type="submit" title="Consultar">
                    <img th:src="@{/imagens/consulta.png}" alt="Consulta Períodos"/>
                </button>
            </form>
        </div>

        <div  th:unless="${mostrarForm == 'false'}">
            <form th:action="@{/declaracoes}" method="POST" th:object="${declaracao}">
                <!-- <input type="hidden" required th:field="*{id}"/> -->
                <label for="estudante">Matrícula:</label></br>
                    <input type="text" class="form-control" name="matricula"  th:value="${estudante.matricula}" readonly/></br>
                <div th:replace="~{/fragments/body :: formDecl}"></div>
                    
                <label for="periodos" class="form-label">Período Letivo:</label>
                    <select th:field="*{periodo}" class="form-select">
                        <option value=""></option>
                        <option th:each="peri : ${periodosInstituicao}" 
                            th:value="${peri.id}" 
                            th:text="${peri.periodoLetivo}" >
                        </option>
                    </select></br>
                <button type="submit" class="btn btn-outline-secondary btn-sm">
                    <img th:src="@{/imagens/enviar1.png}" alt="Salvar"/>
                </button>
            </form>
        </div>
    </div>
</body>
</html>