<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}"
    th:with="titulo1='Documento Estudante', titulo2='Documento(s) Cadastrado(s)'">
<body>
    <div layout:fragment="content">
        <!-- <form th:action="@{/estudantes/{id}/documentos/formDoc(id=${id})}" method="GET"> -->
        <form th:action="@{/declaracoes/{id}/documentos/formDoc(id=${id})}" method="GET">
            <button class="btn btn-outline-secondary" type="submit" title="Novo">
                <img th:src="@{/imagens/novo1.png}" alt="Novo"/>
            </button>
        </form>

        <div th:if="${documento != null}">

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <!-- <th style="text-align: center;">Matrícula:</th> -->
                        <th scope="col">Arquivo:</th>
                        <th scope="col" style="text-align: center;">Baixar:</th>
                        <th scope="col" style="text-align: center;">Apagar:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>[[${documento.nome}]]</td>
                         <td style="text-align: center;">
                            <!-- <a th:href="@{${documento.url}}" title="Baixar documento" target="_blank"> -->
                            <!-- <a th:href="@{/estudantes/{id}/documentos(id=${documento.url})}" title="Download documento" target="_blank"> -->
                            <!-- target="_blank" -->
                                <a th:href="@{/declaracoes/{id}/documentos/download(id=${documento.id})}" 
                                title="Download documento">
                                    <i class="fa fa-external-link" aria-hidden="true"></i>
                                    <img th:src="@{/imagens/baixar4.png}" alt="Baixar Documento"/>
                            </a>
                        </td>
                        <td style="text-align: center;">
                            <!-- <form th:action="@{/declaracoes/{id}/documentos/delete(id=${documento.id})}"> -->
                            <a th:href="@{/declaracoes/{id}/documentos/delete(id=${documento.id})}" 
                                id="btnDelete" title="Apagar documento"
                                class="fa-regular fa-trash-can icon-dark btn-delete">
                                    <img th:src="@{/imagens/lixeira1.jpg}" alt="Excluir"/>
                            </a>
                            <!-- <button class="btn btn-outline-secondary btn-sm" type="submit" title="Excluir">
                                <img th:src="@{/imagens/lixeira1.jpg}" alt="Excluir"/>
                            </button> -->
                        </td>
                    </tr>
                </tbody>
            </table>

            <a th:href="@{/declaracoes}"></br>
                <button class="btn btn-outline-secondary btn-sm" type="button" title="Voltar">
                    <img th:src="@{/imagens/voltar.png}" alt="Voltar"/>
                </button>
            </a>
        </div>

        <div th:unless="${documento != null}"></br>
            <span>Nenhum Documento foi Encontrado no Sistema!!</span>
            <div></br>
                <a th:href="@{/declaracoes}">
                    <button class="btn btn-outline-secondary btn-sm" type="button" title="Voltar">
                        <img th:src="@{/imagens/voltar.png}" alt="Voltar"/>
                    </button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>