<!DOCTYPE html>
<html lang="pt_BR" 
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
    
<head>
    <!-- <meta th:insert="~{/fragments/head :: head(${titulo1}, ~{::link})}"> -->
    <meta th:insert="~{/fragments/head :: head(${titulo1})}">
    <!-- <link rel="stylesheet" href=""> -->
    <!-- <title>Layout</title> -->
</head>
<body>
    <div th:replace="~{/fragments/body :: logo(titulo='AcademiConect')}"></div>

    <nav class="navbar navbar-expand navbar-light bg-light d-flex justify-content-between mb-3">
        <div th:replace="~{/fragments/body :: menu}"></div>
        <div th:replace="~{/fragments/body :: sair(titulo='Sair')}"></div> 
    </nav>

    <div class="container">
        <div th:replace="~{/fragments/body :: mensagens}"></div>
             
        <div class="card">
            <div th:replace="~{/fragments/body :: titulo(${titulo2})}"></div>
            <!-- <span th:text="${titulo2}">Teste Nome da Página</span> -->
            <!-- Para passar + de titulo usar: th:with="titulo1='Nome Titulo 1', titulo2='Nome Titulo 2'" -->
            <div class="card-body">

                <div layout:fragment="content">
                    <h1>Conteúdo do Template Aqui</h1>
                </div>   
            </div>
        </div>    
    </div>   
</body></br></br>
<footer>
    <div th:replace="~{/fragments/footer :: footer}"></div>
</footer>
</html>