<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}"
    th:with="titulo1='Cadastrar Instituicão', titulo2='Cadastro de Instituição'">

<body>
    <div layout:fragment="content">
        <form th:action="@{/instituicoes}" method="POST" th:object="${instituicao}">
            <div th:replace="~{/fragments/body :: formInst}"></div></br>
            <button class="btn btn-outline-secondary btn-sm" type="submit" title="Salvar">
                <img th:src="@{/imagens/salvar3.png}" alt="Salvar"/>
            </button>
            <a th:href="@{/instituicoes}">
                <button class="btn btn-outline-secondary btn-sm" type="button" title="Voltar">
                    <img th:src="@{/imagens/voltar.png}" alt="Voltar"/>
                </button>
            </a>
        </form>
    </div>
</body>
</html>