<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}"
    th:with="titulo1='Lista Instituição', titulo2='Instituições Cadastradas'">

<body>
    <div layout:fragment="content">
        <form th:action="@{/instituicoes/formInst}" method="GET">
            <button class="btn btn-outline-secondary" type="submit" title="Novo">
                <img th:src="@{/imagens/novo.png}" alt="Novo"/>
            </button>
        </form>

        <div th:if="${not #lists.isEmpty(instituicoes)}">
            <div th:text="'Total: ' + ${#lists.size(instituicoes)} + ' registro(s)'" 
                style="text-align: right; color: gray; font-size: 0.85em;">
            </div>

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Nome:</th>
                        <th>Sigla:</th>
                        <th>Fone:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="instituicao : ${instituicoes}">
                        <!-- <td>
                            <a th:href="@{/instituicoes/{id}(id=${instituicao.id})}"     
                            th:text="${instituicao.nome != null and instituicao.nome != '' ?instituicao.nome: 'Não Informado'}"></a>
                        </td> -->
                        <td th:text="${instituicao.nome != null and instituicao.nome != '' ?instituicao.nome: 'Não Informado'}"></td>
                        <td th:text="${instituicao.sigla}"></td>
                        <td th:text="${instituicao.fone}"></td>
                        <td>
                            <form th:action="@{/instituicoes/{id}(id=${instituicao.id})}">
                                <button class="btn btn-outline-secondary btn-sm" type="submit" title="Editar">
                                    <img th:src="@{/imagens/editar.png}" alt="Editar"/>
                                </button>
                            </form>
                        </td>
                        <td>
                            <form th:action="@{/instituicoes/{id}/delete(id=${instituicao.id})}">
                                <button class="btn btn-outline-secondary btn-sm" type="submit" title="Excluir">
                                    <img th:src="@{/imagens/lixeira1.jpg}" alt="Excluir"/>
                                </button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>