<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="www.thymeleaf.org" th:import="org.thymeleaf.spring5.util.SpringSelectedValueComparator">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fragments</title>
</head>
<body>
    <!-- Logo + título da página -->
    <div class="logo-bar mb-0 p-0" th:fragment="logo(titulo)">
        <span class="logo-font">
            <img th:src="@{/imagens/header-t.png}" th:text="${titulo}"/> 
        </span>
    </div>

    <!-- Menu da página -->
    <div class="navbar-nav" th:fragment="menu">
        <a th:classappend="${menu == 'home'} ? 'active'" class="nav-item nav-link" th:href="@{/home}">Home</a>
        <a th:classappend="${menu == 'estudantes'} ? 'active'" class="nav-item nav-link" th:href="@{/estudantes}">Estudantes</a>
        <a th:classappend="${menu == 'instituicoes'} ? 'active'" class="nav-item nav-link" th:href="@{/instituicoes}">Instituição</a>
        <a th:classappend="${menu == 'declaracoes'} ? 'active'" class="nav-item nav-link" th:href="@{/declaracoes/formDecEstu}">Declaração</a>
        <a th:classappend="${menu == 'periodos'} ? 'active'" class="nav-item nav-link" th:href="@{/periodos}">Período Letivo</a>
    </div>

    <!-- Botão Sair da página Home -->
    <div style="margin-right: 5px;" th:fragment="sair(titulo)">
        <a th:href="@{/home}">
            <button class="btn btn-outline-secondary my-2 my-sm-0" th:text="${titulo}"></button>
        </a>
    </div>

    <!-- Botão Voltar dos Formulários Instituição -->
    <div style="margin-right: 5px;" th:fragment="voltarInst">
        <a class="nav-item nav-link" th:href="@{/instituicoes}">
            <button class="btn btn-outline-secondary my-2 my-sm-0">Voltar</button>
        </a>
    </div>

    <!-- Botão Voltar dos Formulários Declaração -->
    <div style="margin-right: 5px;" th:fragment="voltarDecl">
        <a class="nav-item nav-link" th:href="@{/declaracoes}">
            <button class="btn btn-outline-secondary my-2 my-sm-0">Voltar</button>
        </a>
    </div>

    <!-- Botão Voltar dos Formulários Estudante -->
    <div style="margin-right: 5px;" th:fragment="voltarEstu">
        <a class="nav-item nav-link" th:href="@{/estudantes}">
            <button class="btn btn-outline-secondary my-2 my-sm-0">Voltar</button>
        </a>
    </div>

    <!-- Botão Voltar dos Formulários Período Letivo -->
    <div style="margin-right: 5px;" th:fragment="voltarPeri">
        <a class="nav-item nav-link" th:href="@{/periodos}">
            <button class="btn btn-outline-secondary my-2 my-sm-0">Voltar</button>
        </a>
    </div>

    <!-- Título do card da página+ -->
    <div class="card-header" th:fragment="titulo(titulo)" th:text="${titulo}"></div>

    <!-- Mensagem de Error/Sucesso do Formulário -->
    <div style="margin-right: 5px;" th:fragment="mensagens">
        <div th:text="${errorMensagem}" 
            th:if="${errorMensagem ne null}" 
            class="alert alert-danger" ></div>

        <div th:text="${succesMensagem}" 
            th:if="${succesMensagem ne null}" 
            class="alert alert-success" ></div>
    </div>

    <!-- Dados do formulário de Estudante -->
    <div class="navbar-nav" th:fragment="formEstu">
        <input type="hidden" required th:field="*{id}" />
        <label for="nome" class="form-label">Nome:</label>
            <input type="text" class="form-control" required th:field="*{nome}" maxlength="50"/></br>
        <label for="nome" class="form-label">Matrícula:</label>
            <input type="number" class="form-control" required th:field="*{matricula}" /></br>
        <label for="nome" class="form-label">Data Nascimento:</label>
            <input type="date" class="form-control" required th:field="*{dataNascimento}" /></br> 
        <label for="nome" class="form-label">E-mail:</label>
            <input type="email" required th:field="*{email}" class="form-control"/></br>
        <label for="nome" class="form-label">Senha:</label>
            <input type="password" required th:field="*{senha}" class="form-control" minlength="3"/></br>
    </div>

    <!-- Dados do formulário de Periodo -->
    <div class="navbar-nav" th:fragment="formPeri">
        <input type="hidden" required th:field="*{id}" />
        <label for="nome" class="form-label">Ano:</label>
            <input type="number" class="form-control" required th:field="*{ano}" maxlength="4"/></br>
        <label for="nome" class="form-label">Período Letivo:</label>
            <input type="text" class="form-control" required th:field="*{periodoLetivo}" /></br>
        <label for="nome" class="form-label">Data Início:</label>
            <input type="date" class="form-control" required th:field="*{dataInicio}" /></br>
        <label for="nome" class="form-label">Data Fim:</label>
            <input type="date" class="form-control" required th:field="*{dataFim}" /></br>
    </div>

    <!-- Dados do formulário de Declaração -->
    <div class="navbar-nav" th:fragment="formDecl">
        <input type="hidden" required th:field="*{id}" />
        <label for="nome" class="form-label">Data Recebimento:</label>
            <input type="date" class="form-control" required th:field="*{dataRecebimento}" /></br>
        <label for="nome" class="form-label">Observação:</label>
            <input type="text" class="form-control" th:field="*{observacao}" /></br>
    </div>
      
</body>
</html>