<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="www.thymeleaf.org" th:import="org.thymeleaf.spring5.util.SpringSelectedValueComparator">
<head>
    <meta th:insert="~{/fragments/head(titulo='Cadastro de Estudante')}">
</head>
<body>
    <div th:replace="~{/fragments/body :: logo(titulo=' AcademiConect')}"></div>

    <nav class="navbar navbar-expand navbar-light bg-light d-flex justify-content-between mb-3">
        <div th:replace="~{/fragments/body :: menu}"></div>

        <div style="margin-right: 5px;">
            <a class="nav-item nav-link" th:href="@{/estudantes}">
                <button class="btn btn-outline-secondary my-2 my-sm-0">Sair</button>
            </a>
        </div>
    </nav>

    <div class="container">
        <div th:text="${errorMensagem}" 
            th:if="${errorMensagem ne null}" 
            class="alert alert-danger" ></div>

        <div th:text="${succesMensagem}" 
            th:if="${succesMensagem ne null}" 
            class="alert alert-success" ></div>

        <div class="card">
            <div th:replace="~{/fragments/body :: titulo(titulo='Cadastro de Estudante')}"></div>

            <div class="card-body">

                <form th:action="@{/estudantes}" method="POST" th:object="${estudante}">
                    <div th:replace="~{/fragments/body :: formEstu}"></div>
                    <label for="instituicao" class="form-label">Instituição:</label>
                        <select th:field="*{instituicao}" class="form-select">
                            <option value=""></option>
                            <option th:each="intit : ${instituicaoItems}" 
                                th:value="${intit.id}" 
                                th:text="${intit.sigla}" 
                                th:selected="${intit.id == instituicao}">
                            </option>
                        </select></br>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
            </div>
        </div>
    </div>  
</body>
</html>