<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}"
    th:with="titulo1='Atualizar Estudante', titulo2='Atualizar Estudante'">

<body>
    <div layout:fragment="content">
        <form th:action="@{/estudantes/update}" method="POST" th:object="${estudante}">
            <div th:replace="~{/fragments/body :: formEstu}"></div>
            <label for="user" class="form-label">Usuário:</label>
                <select th:field="*{user}" class="form-select" id="user">
                    <option value=""></option>
                    <option th:each="u : ${users}" 
                        th:value="${u.username}" 
                        th:text="${u.username}"
                        th:selected="${u.username == user}">
                    </option>
                </select>
            <label for="instituicao" class="form-label">Instituição:</label>
                <select th:field="*{instituicao.id}" class="form-select">
                    <option value=""></option>
                    <option th:each="insti : ${instituicaoItems}" 
                        th:value="${insti.id}" 
                        th:text="${insti.sigla}" 
                        th:selected="${insti.id == instituicao}">
                    </option>
                </select></br>
            <button class="btn btn-outline-secondary btn-sm" type="submit" title="Editar">
                <img th:src="@{/imagens/editar.png}" alt="Editar"/>
            </button>
            <a th:href="@{/estudantes}">
                <button class="btn btn-outline-secondary btn-sm" type="button" title="Voltar">
                    <img th:src="@{/imagens/voltar.png}" alt="Voltar"/>
                </button>
            </a>
        </form>
        
    </div>
    
</body>
</html>