<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}"
    th:with="titulo1='Cadastrar Estudante', titulo2='Cadastro de Estudante'">

<body>
    <div layout:fragment="content">
        <form th:action="@{/estudantes}" method="POST" th:object="${estudante}">
            <div th:replace="~{/fragments/body :: formEstu}"></div>
            <label for="instituicao" class="form-label">Instituição:</label>
                <select th:field="*{instituicao}" class="form-select">
                    <option value=""></option>
                    <option th:each="insti : ${instituicaoItems}" 
                        th:value="${insti.id}" 
                        th:text="${insti.sigla}" 
                        th:selected="${insti.id == instituicao}">
                    </option>
                </select></br>
            <button class="btn btn-outline-secondary btn-sm" type="submit" title="Salvar">
                <img th:src="@{/imagens/salvar3.png}" alt="Salvar"/>
            </button>
            <a th:href="@{/estudantes}">
                <button class="btn btn-outline-secondary btn-sm" type="button" title="Voltar">
                    <img th:src="@{/imagens/voltar.png}" alt="Voltar"/>
                </button>
            </a>
        </form>
    </div>
</body>
</html>