<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}"
    th:with="titulo1='Cadastrar Estudante', titulo2='Cadastro de Estudante'">

<body>
    <div layout:fragment="content">
        <form th:action="@{/estudantes}" method="POST" th:object="${estudante}">
            <div th:replace="~{/fragments/body :: formEstu}"></div>
            <!-- <input type="hidden" required th:field="*{id}" />
            <div class="form-group mx-sm-0 mb-2">
                <label for="nome" class="form-label">Nome:</label>
                <input type="text" class="form-control" th:field="*{nome}" maxlength="50"/>
                <p th:if="${#fields.hasErrors('nome')}" th:errorclass="error" th:errors="*{nome}"></p>
            </div>
            <div class="form-group mx-sm-0 mb-2">
                <label for="matricula" class="form-label">Matrícula:</label>
                <input type="text" class="form-control" th:field="*{matricula}" />
                <p th:if="${#fields.hasErrors('matricula')}" th:errorclass="error" th:errors="*{matricula}"></p>
            </div>
            <div class="form-group mx-sm-0 mb-2">
                <label for="dataNascimento" class="form-label">Data Nascimento:</label>
                <input type="date" class="form-control" th:field="*{dataNascimento}" />
                <p th:if="${#fields.hasErrors('dataNascimento')}" th:errorclass="error" th:errors="*{dataNascimento}"></p> 
            </div>
            <div class="form-group mx-sm-0 mb-2">
                <label for="email" class="form-label">E-mail:</label>
                <input type="email" th:field="*{email}" class="form-control"/>
                <p th:if="${#fields.hasErrors('email')}" th:errorclass="error" th:errors="*{email}"></p>
            </div> -->
            <label for="instituicao" class="form-label">Instituição:</label>
                <select th:field="*{instituicao}" class="form-select">
                    <option value=""></option>
                    <option th:each="insti : ${instituicaoItems}" 
                        th:value="${insti.id}" 
                        th:text="${insti.sigla}" 
                        th:selected="${insti.id == instituicao}">
                    </option>
                </select></br>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
    </div>
</body>
</html>