<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}"
    th:with="titulo1='Lista Estudante(s)', titulo2='Estudantes Cadastrado(s)'">

<body>
    <div layout:fragment="content">
        <form th:action="@{/estudantes/formEstu}" method="GET">
            <button class="btn btn-outline-secondary" type="submit" title="Novo">
                <img th:src="@{/imagens/novo.png}" alt="Novo"/>
            </button>
        </form>

        <div th:if="${not #lists.isEmpty(estudantes)}">

            <div th:text="'Total: ' + ${#lists.size(estudantes)} + ' registro(s)'" 
                style="text-align: right; color: gray; font-size: 0.85em;">
            </div>

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th style="text-align: center;">Matrícula:</th>
                        <th style="text-align: center;">Data Nascimento:</th>
                        <th>E-mail:</th>
                        <th style="text-align: center;">Instituição:</th>
                        <th style="text-align: center;">Usuário:</th>
                        <th style="text-align: center;">Documentos:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="estudante : ${estudantes}">
                        <td th:text="${estudante.nome != null and estudante.nome != '' ?estudante.nome: 'Anônimo'}"></td>   
                        <td th:text="${estudante.matricula}" style="text-align: center;"></td>
                        <td th:text="${#dates.format(estudante.dataNascimento, 'dd ''de'' MMMM ''de'' yyyy')}" 
                            style="text-align: center;"></td>
                        <td th:text="${estudante.email}"></td>                             
                        <td th:text="${estudante.instituicao != null and estudante.instituicao != '' ?estudante.instituicao.sigla: 'Não Informada'}"
                            style="text-align: center;"></td>
                        <td class="text-center" th:text="${estudante.user != null ?estudante.user.username: 'Sem Usuário'}"></td>
                        <td class="text-center">
                            <a th:href="@{/estudantes/{id}/documentos(id=${estudante.id})}">
                                <i class="fa fa-external-link" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td>
                            <form th:action="@{/estudantes/{id}/listaDeclaracoes(id=${estudante.id})}" method="GET">
                                <button class="btn btn-outline-secondary btn-sm" type="submit" title="Declaraões">
                                    <img th:src="@{/imagens/lista1.png}" alt="Declaraões"/>
                                </button>
                            </form>
                        </td>
                        <td>
                            <form th:action="@{/estudantes/{id}(id=${estudante.id})}" method="GET">
                                <button class="btn btn-outline-secondary btn-sm" type="submit" title="Editar">
                                    <img th:src="@{/imagens/editar.png}" alt="Editar"/>
                                </button>
                            </form>
                        </td>
                        <td>
                            <form th:action="@{/estudantes/{id}/delete(id=${estudante.id})}">
                                <button class="btn btn-outline-secondary btn-sm" type="submit" title="Excluir">
                                    <img th:src="@{/imagens/lixeira1.jpg}" alt="Excluir"/>
                                </button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> 
</body>
</html>